// From Bootstrap
// For accessibility purposes, all form inputs should have labels that can be interpreted by screen readers
// even if they are not visible on the web page. This is why most applications use a .visually-hidden component

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}