/*h1 {
  //color: #B00100;
  color: #FF5035;
}*/

.intro {
  text-align: center;
  margin-top: 100px;
}

.dropzone,
.dz-msg,
.dz-preview {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
}


.dropdown {
  margin-left: 100px;
}

.dropdown_select {
  padding: 10px;
  margin-left: 10px;
}

.submit {
  text-align: center;
}

.db-title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

audio {
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(100%);
  width: 200px;
  height: 25px;
}

table {
  margin-left: 50px;
}

td {
  padding: 10px;
}
