<footer id="footer" class="footer">
  <div class="container">
    <div class="about">
      <p>Opin talgerving fyrir íslensku er þróuð innan Máltækniáætlunar íslenskra stjórnvalda 2019-2022. Verkefnið er samvinnuverkefni Grammateks, Tiro og Háskólans í Reykjavík. <br> Þessi vefsíða er á vegum Grammateks ehf.</p>
    </div>
    <div class="grammatek">
      <span>Grammatek ehf. kt. 641018-0820, Nýsköpunarsetrið Breið Akranesi, info@grammatek.com</span>
    </div>
    <span></span>
  </div>
</footer>