<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <span><%= link_to "GRAMMATEK", "https://www.grammatek.com" %></span>
      </div>
    </div>
  </div>
</header>